.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

table {
  text-align: center;
  color: black;
  border-collapse: collapse;
  font-size: 50%;
  font-size: 20px;
}

table td,
table th {
  border: 1px solid blueviolet;
  padding: 2%;
  min-height: 10%;
  /* width: 50%; */
}

#item-img{
  min-width: 10%;
}

img {
  width: 40px;
  height: 40px;
  padding: 5%;
}

#icon {
  cursor: pointer;
}

#icon:hover {
  color: red;
}

.update-link {
  margin-right: 10px;
}
