.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  color: white;
}

table {

  color: rgb(250, 244, 244);
  border-collapse: collapse;
  font-size: 20px;
  font-style: normal;
  font-weight: 0.1px;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
}

table td,
table th {
  border: 1px solid blueviolet;
  padding: 8px;
  min-height: 10%;
  text-align: center;
  /* width: 50%; */
}

#item-img{
  min-width: 10%;
}

img {
  width: 60px;
  height: 80px;
  padding: 5%;
}

#icon {
  cursor: pointer;
}

#icon:hover {
  color: red;
}

.update-link {
  margin-right: 10px;
}
