<div class="seller-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Seller Sign-Up</h1>
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="signUp(sellerSignUp.value)"
      class="common-form"
    >
      <label id="forminput">Name</label>
      <input
        class="form-input"
        type="text"
        name="name"
        ngModel
        placeholder="Enter Name"
      />
      <label id="forminput">Email</label>
      <input
        class="form-input"
        type="text"
        name="email"
        ngModel
        placeholder="Enter Email"
      />
      <label id="forminput">Password</label>
      <input
        class="form-input"
        type="password"
        name="password"
        ngModel
        placeholder="Enter Password"
      />

      <button class="form-button">Sign-Up</button>
      <a class="auth-toggle-link" (click)="openLogin()">Already Have Account? Click here to <span class="log">Login!</span></a>
    </form>
  </div>

  <!-- LOgin Area -->
  <div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <p class="error-p">{{authError}}</p>
    <form
      #sellerLogin="ngForm"
      (ngSubmit)="login(sellerLogin.value)"
      class="common-form"
    >
      <label id="forminput">Email</label>
      <input
        class="form-input"
        type="text"
        name="email"
        ngModel
        placeholder="Enter Email"
      />

      <label id="forminput">Password</label>
      <input
        class="form-input"
        type="password"
        name="password"
        ngModel
        placeholder="Enter Password"
      />
      <button class="form-button">Login</button>
      <a class="auth-toggle-link" (click)="openSignUp()">Don't Have Account? Click here to <span class="log">Sign-Up!</span></a>
    </form>
  </div>
</div>
