/* You can add global styles to this file, and also import other style files */
body {
  color: white;
  font-family: sans-serif;
  margin: 0%;
  background-color: #072f45;
  /* background-color: #072f45; */
    background: #072f45;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #072f45, #072f45);
    /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #072f45, #044568);  */

   background: -webkit-linear-gradient(to right, #021e2d, #159ce4);
    /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #031f2e, #1883bd); 
}

.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}

.common-form {
  text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    margin: auto;
}

.form-input {
  height: 45px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid blueviolet;
  text-decoration-color: darkgreen;}

.form-button {
  height: 45px;
  padding-left: 10px;
  margin-bottom: 0px;
  border: 1px solid blueviolet;
}

.error-p {
  color: red;
}

.message-p{
color: green;
}